# Configuracion local
SECRET_KEY=change-this-secret
SECURITY_PASSWORD_SALT=change-this-reset-salt
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=memories_db

# En Railway NO necesitas estas variables si usas DATABASE_URL.
# Railway puede inyectar una DATABASE_URL desde el servicio MySQL.
